/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@500&display=swap');

/* Common Styles or utilities*/
/* Nav Menu Styles */
*{
    padding: 0;
    margin: 0;
}
.nav {
    width: 100%;
    height: 94px;
    left: 172px;
    top: 12px;
    background: #562EFF;
    color: #FFFFFF;
}

.nav,
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo a {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.logo img {
    width: 40.42px;
    height: 51px;
}

.menu-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;    
}

ul li {
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    ;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top Players Style  */
.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.top-players {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    padding: 16px;
    font-size: 18px;
}

/* Blogs */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    Width: 177px;
    Height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
    line-height: 24px;
}

/* Courses Styles */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star,
.empty {
    color: #AEAEAE;
}

/* Media Querias */
/* Mobile Deivice */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }

}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Nav Menu Responsive for Small Devices */
@media only screen and (max-width: 576px) {
    .nav{
        flex-direction: column;
        padding: 30px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    .section-title{
        padding: 20px;
    }
    .copyright-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Copyright Section Styles */
.copyright-section{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    background-color: #6e5ac7;
    color: white;
}